<div>
    <app-tabs>
        <app-tab title="Timers">
            <app-timer *ngFor="let timer of timers" init="{{timer}}" (onComplete)="showEndTimerAlert()"></app-timer>
            <!-- <app-timer init="85"></app-timer>
			<app-timer init="65"></app-timer>
			<app-timer init="45"></app-timer> -->
        </app-tab>
        <app-tab title="Cronos">
            Cronos not available
        </app-tab>
        <app-tab title="Others">
            Others not available
        </app-tab>
    </app-tabs>



    <button class="add" (click)="showAddTimer()">+</button>

    <app-alert-view [hidden]="!isTimerVisible" (onCancel)="hideAddTimer()" (onSubmit)="hideAddTimer()">
        <!--  ng-content selected by class -->
        <div header>
            Add new timer
        </div>
        <!--  Alert view data is replaced by ng-conten in alert-view-cmp  -->
        <div>
            <label>Set the number of seconds for your timer: </label>
            <input [(ngModel)]="time" type="number">
        </div>

        <!--  ng-content selected by element -->
        <div class="footer">
            <button (click)="hideAddTimer()" class="cancel-button">Cancel</button>
            <button (click)="submitAddTimer()">Ok</button>
        </div>
    </app-alert-view>


    <!-- Reuse of alert view to show other data-->
    <app-alert-view [hidden]="!isEndTimerAlertVisible">

        <div header>
            Timer ended
        </div>
        <div>
            <p> Your countdown has finished</p>
        </div>
        <div class="footer">

            <button (click)="hideEndTimerAlert()">Ok</button>
        </div>
    </app-alert-view>
</div>